#Pipeline definition 

{%for pipeline in file.pipelines -%}

{{pipeline.name}}_pipeline = {%-if pipeline.data.preprocessors%} preprocessor_{{pipeline.data.name}} | {%- endif -%}{{pipeline.algorithm.name}}

{%-if pipeline.metrics%}
{{pipeline.name}}_metrics = [
    {%-for metric in pipeline.metrics-%}
    {{metric.name}}{%- if not loop.last %},{%- endif -%}
    
    {%-endfor-%}
]
{%endif%}

{{pipeline.name}} = Pipeline(model = {{pipeline.name}}_pipeline {%-if pipeline.metrics%}, model_name ='{{pipeline.algorithm.type.name}}'  , metrics_list = {{pipeline.name}}_metrics{%endif%} , name = "{{pipeline.name}}"{%-if pipeline.data.features and pipeline.data.features.target_feature-%},y="{{pipeline.data.features.target_feature}}"{%-endif-%} {%-if pipeline.output_topic-%},output_topic="{{pipeline.output_topic}}"{%-endif-%} )

{% endfor -%}